{{template "header.html" .}}

<section id="dashboard">
  <div class="container heading" style="width: 100%">
    <h1 class="yellow">latest_issues</h1>
  </div>
  <div class="container">
    <div class="card-wrapper">
      {{range $i,$j := .issues}}
      <a target="_top" href="{{$j.URL}}" class="issue-card">
        <div class="live-btn"></div>
        <h5>{{$j.Title}}</h5>
        <div class="tag">{{$j.Repository}}</div>
        <p class="light-text">
          Comments: <span class="yellow">{{$j.Comments}}</span> since last
          fetched <br />Last edited: {{$j.UpdatedAt}}
        </p>
      </a>
      {{end}}
    </div>
  </div>
  <div class="container heading" style="width: 100%">
    <h1 class="yellow">latest_pulls</h1>
  </div>
  <div class="container">
    <div class="card-wrapper">
      {{range $i,$j := .pulls}}
      <div class="issue-card pulls">
        <h5 class="short-text">{{$j.Login}}</h5>
        <ul>
          {{range $k,$l := $j.Pulls}}
          <li>
            <a class="light-text" href="{{$l.URL}}" target="_blank"
              >{{$l.Title}}</a
            >
            <br />
          </li>
          {{end}}
        </ul>
        <a
          class="cta"
          href="https://github.com/pulls?q=is%3Apr+author%3A{{$j.Login}}+archived%3Afalse+"
          target="_blank"
          >View more</a
        >
      </div>
      {{end}}
    </div>
  </div>
</section>

{{template "footer.html" .}}
