{{template "header.html" .}}

<section id="dashboard">
    <div class="container">
        <div class="wrapper">
            <h2>Issues</h2>
            <div class="flex-c card-wrapper">
                {{range $i,$j := .issues}}
                <div class="card">
                    <h4>
                        {{$j.Title}}
                    </h4>
                    <p>dsckgec/{{$j.Repository}}</p>
                    <p>{{$j.Comments}} Comments</p>
                    <a href={{$j.URL}}>Link</a>
                </div>
                {{end}}
            </div>
        </div>
        
        <div class="wrapper">
            <h2 style="width: 100%">Pulls</h2>
            <div class="flex-r card-wrapper">
                {{range $i,$j := .pulls}}
                <div class="span-1-of-2">
                    <div class="card">
                        <h4>
                            {{$j.Login}}
                        </h4>
                        {{range $k,$l := $j.Pulls}}
                        <a href={{$l.URL}} target="_blank">{{$l.Title}}</a>
                        {{end}}
                    </div>
                </div>
                {{end}}
            </div>
        </div>
        
    </div>

</section>

{{template "footer.html" .}}