<section id="faq">
  <div class="container">
    <div class="wrapper">
      <h1>frequently_asked_questions</h1>
      <div class="accordion">
        <div class="accordion-item">
          <button id="accordion-button-1" aria-expanded="false">
            <span class="accordion-title"
              >I am not a student of KGEC, Can I participate?</span
            >
            <span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>
              <span class="red">=></span> Yes, you can definitely participate.
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-2" aria-expanded="false">
            <span class="accordion-title"
              >I am a beginner can I participate?</span
            >
            <span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>
              <span class="red">=></span> There is no such restriction but with
              some amount of development knowledge in any domain will be good to
              go.
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-3" aria-expanded="false">
            <span class="accordion-title">Can I participate as a team?</span>
            <span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p><span class="red">=></span> No, this is an individual event.</p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-4" aria-expanded="false">
            <span class="accordion-title"
              >I don't know open source can I participate?</span
            >
            <span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>
              <span class="red">=></span> Then you must participate, because the
              aim of our event is to get more people into open source
              development.
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-5" aria-expanded="false">
            <span class="accordion-title"
              >Can I participate both as mentee and mentor?</span
            >
            <span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p><span class="red">=></span> No we don't encourage that.</p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-5" aria-expanded="false">
            <span class="accordion-title"
              >Can 3rd year students also participate?</span
            >
            <span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>
              <span class="red">=></span> You can participate as a mentee if you
              are a beginner to open source and development. If you have sound
              knowledge about these, then we highly encourage you to participate
              as a mentor or project admin.
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-5" aria-expanded="false">
            <span class="accordion-title"
              >My question is not listed in here!</span
            >
            <span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>
              <span class="red">=></span> Contact Us, We will be happy to help
              you.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
