<footer>
    <div class="container">
        <div class="wrapper">
            <div class="col">
                <h4>Developer Student Clubs</h4>
                <p class="long-text">Kalyani Government Engineering College, Nadia, India.</p>
                <p class="long-text">
                    dsc@kgec.edu.in<br/>
                    View on dsc.community.dev
                </p>
            </div>
            <div class="links">
                <ul class="link">
                    <h4>Media</h4>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Facebook</li>
                    <li>LinkedIn</li>
                    <li>Discord</li>
                </ul>
                <ul class="link">
                    <h4>Media</h4>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Facebook</li>
                    <li>LinkedIn</li>
                    <li>Discord</li>
                </ul>
                <ul class="link">
                    <h4>Media</h4>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Facebook</li>
                    <li>LinkedIn</li>
                    <li>Discord</li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="./js/script.js"></script>

</body>
</html>