<footer>
    <div class="container">
        <div class="wrapper">
            <div class="col">
                <div class="footer-title-wrapper">
                    <div class="img-wrapper">
                        <img src="./img/dsc-logo.png" alt="">
                    </div>
                    <h4>GDSC KGEC</h4>
                </div>
                <div class="footer-title-wrapper">
                    <div class="img-wrapper">
                        <img src="./img/KgecLogo.png" alt="">
                    </div>
                    <p class="long-text">Kalyani Government Engineering College, Nadia, India.</p>
                </div>
                <p class="long-text">
                    <a href="mailto:dsc@kgec.edu.in">dsc@kgec.edu.in</a>
                </p>
            </div>
            <div class="links">
                <ul class="link">
                    <h4>Quick Links</h4>
                    <li><a href="/">Home</a></li>
                    <li><a href="/#timeline">Timeline</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                </ul>
                <ul class="link">
                    <h4>Community</h4>
                    <li><a href="https://dsc.community.dev/kalyani-government-engineering-college/">Event Platform</a>
                    </li>
                    <li><a href="https://github.com/dsckgec">GitHub</a></li>
                    <li><a href="https://dsck.ml/discord">Discord</a></li>
                </ul>
                <ul class="link">
                    <h4>Media</h4>
                    <li><a href="https://twitter.com/dsckgec">Twitter</a></li>
                    <li><a href="http://instagram.com/dsckgec">Instagram</a></li>
                    <li><a href="https://facebook.com/dsckgec">Facebook</a></li>
                    <li><a href="https://www.linkedin.com/company/dsckgec">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
{{if eq .title "KGEC Summer of Code 2022" }}
<script>
    anime({
        targets: "#ksocTitle path",
        strokeDashoffset: [anime.setDashoffset, 0],
        easing: "easeInOutSine",
        duration: 2500,
        delay: function (el, i) {
            return i * 250;
        },
        direction: "alternate",
        loop: false,
    });
</script>
{{end}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{if eq .title "Leaderboard | KGEC Summer of Code 2022" }} 
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
    <script src="./js/leaderboard.js"></script>
    <script src="./js/modal.js"></script>
{{end}}
<script src="./js/script.js"></script>
<script src="./js/faq.js"></script>

</body>

</html>