<div class="spacer"></div>

<footer>
    <div class="container">
        <div class="wrapper flex-r">
            <div class="colophon">
                <h3>Google DSC KGEC</h3>
                <p>
                    Kalyani Government Engineering <br />
                    College, Nadia, West Bengal, India.
                    <br />
                    dsc@kgec.edu.in
                </p>
            </div>
            <div class="links-wrapper flex-r">
                <div class="links-section">
                    <h4>About</h4>
                    <ul class="links">
                        <li>KSOC'21</li>
                        <li>Upcoming Events</li>
                        <li>About GDSC</li>
                        <li>Participating Terms</li>
                        <li>Privacy</li>
                        <li>Terms</li>
                    </ul>
                </div>
                <div class="links-section">
                    <h4>Projects</h4>
                    <ul class="links">
                        <li>App Development</li>
                        <li>Web Development</li>
                        <li>IoT & Electronics</li>
                        <li>Machine Learning</li>
                    </ul>
                </div>
                
                <div class="links-section">
                    <h4>Socials</h4>
                    <div class="socials-wrapper">
                        <i data-feather="github"></i>
                        <i data-feather="twitter"></i>
                        <i data-feather="instagram"></i>
                        <i data-feather="facebook"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://unpkg.com/feather-icons"></script>
<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script>
  function addDarkmodeWidget() {
    new Darkmode().showWidget();
  }
  window.addEventListener('load', addDarkmodeWidget);
</script>

<script>
    feather.replace();
</script>
</body>
</html>