<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/bubbles.css">

    <title>{{.title}}</title>

</head>
<body>
    <header>
        <div class="container">
            <a class="logo" href="">
                <img src="./img/ksoc-logo.png" alt="KSOC">
            </a>
            <div class="btn">
                {{if .button}}
                View Dashboard
                {{end}}
                {{if not .button}}
                View Projects
                {{end}}
            </div>
        </div>
    </header>