<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=1366px" />
        <title>KGEC Summer of Code</title>
        <link rel="stylesheet" href="./css/style.css" />
        <link rel="stylesheet" href="./css/null.css" />
        <link rel="icon" type="image/png" href="./img/favicon.ico">
    </head>
    <body>
        <header>
            <div class="header-container">
                <div class="header-inner-left flex-r">
                    <a href="/"><img src="./img/ksoc-logo.png" alt="" height="70px" /></a>
                </div>
                <div class="header-inner-right flex-r">
                    <ul class="menu flex-r">
                        <li><a href="/projects">Projects</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li class="btn cta"><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <nav class="flex-r">
            <ul class="flex-c side-nav">
                <li><a href="https://github.com/dsckgec" target="_blank"><i data-feather="github"></i></a></li>
                <li><a href="https://twitter.com/dsckgec" target="_blank"><i data-feather="twitter"></i></a></li>
                <li><a href="https://instagram.com/dsckgec" target="_blank"><i data-feather="instagram"></i></a></li>
                <li><a href="https://facebook.com/dsckgec" target="_blank"><i data-feather="facebook"></i></a></li>
            </ul>
        </nav>
