{{template "header.html" .}}

<section class="front">
    <div id="landing">
        <img src="./img/red.png" alt="" class="img-left" style="z-index: 2;">
        <img src="./img/grid.png" alt="" class="img-right" style="z-index: 2;">
        <div class="container">
            <div class="wrapper">
                <h1>KGEC Summer of Code</h1>
                <h1><span>A season of learning</span></h1>
                <p class="long-text">KSoC is a month long program aimed at providing a collaborative environment to
                    budding developers of our community to connect, learn, teach and build projects collaboratively.</p>
                <a href="#register" class="btn">Get yourself registered</a>
            </div>
        </div>
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</section>
<section>
    <div class="container">
        <div class="wrapper">
            <div class="row">
                <div class="content">
                    <p class="short-text">Domains Included</p>
                    <h2>Learn and explore <div class="green">new fields</div>
                    </h2>
                    <p class="long-text">
                        There are 15+ projects that you can choose to work on and contribute, based on:
                    <ul>
                        <li>- App Development</li>
                        <li>- IoT & Electronics</li>
                        <li>- Machine Learning</li>
                        <li>- Web Development</li>
                        <li>- DSA & CP</li>
                    </ul>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="img-wrapper">
                    <img alt="React"
                        src="https://img.shields.io/badge/-React-45b8d8?style=for-the-badge&logo=react&logoColor=white" />
                    <img alt="TypeScript"
                        src="https://img.shields.io/badge/-TypeScript-007ACC?style=for-the-badge&logo=typescript&logoColor=white" />
                    <img alt="Insomnia"
                        src="https://img.shields.io/badge/-Insomnia-5849BE?style=for-the-badge&logo=insomnia&logoColor=white" />
                    <img alt="git"
                        src="https://img.shields.io/badge/-Git-F05032?style=for-the-badge&logo=git&logoColor=white" />
                    <img alt="npm"
                        src="https://img.shields.io/badge/-NPM-CB3837?style=for-the-badge&logo=npm&logoColor=white" />
                    <img alt="html5"
                        src="https://img.shields.io/badge/-HTML5-E34F26?style=for-the-badge&logo=html5&logoColor=white" />
                    <img alt="MongoDB"
                        src="https://img.shields.io/badge/-MongoDB-13aa52?style=for-the-badge&logo=mongodb&logoColor=white" />
                    <img alt="Nodejs"
                        src="https://img.shields.io/badge/-Nodejs-43853d?style=for-the-badge&logo=Node.js&logoColor=white" />
                    <img alt="Java"
                        src="https://img.shields.io/badge/-Java-007396?style=for-the-badge&logo=Java&logoColor=white" />
                    <img alt="Kotlin"
                        src="https://img.shields.io/badge/-Kotlin-0095D5?style=for-the-badge&logo=Kotlin&logoColor=white" />
                    <img alt="Flutter"
                        src="https://img.shields.io/badge/-Flutter-02569B?style=for-the-badge&logo=Flutter&logoColor=white" />
                    <img alt="Firebase"
                        src="https://img.shields.io/badge/-Firebase-FFCA28?style=for-the-badge&logo=Firebase&logoColor=black" />
                    <img alt="Android"
                        src="https://img.shields.io/badge/-Android-3DDC84?style=for-the-badge&logo=Android&logoColor=white" />
                    <img alt="C++"
                        src="https://img.shields.io/badge/-C++-00599C?style=for-the-badge&logo=C&logoColor=white" />
                    <img alt="Python"
                        src="https://img.shields.io/badge/-Python-3776AB?style=for-the-badge&logo=Python&logoColor=white" />
                    <img alt="Golang"
                        src="https://img.shields.io/badge/-Golang-00ADD8?style=for-the-badge&logo=Go&logoColor=white" />
                    <img alt="Jupyter"
                        src="https://img.shields.io/badge/-Jupyter-F37626?style=for-the-badge&logo=jupyter&logoColor=white" />
                    <img alt="Mocha"
                        src="https://img.shields.io/badge/-Mocha-8D6748?style=for-the-badge&logo=Mocha&logoColor=white" />
                    <img alt="Numpy"
                        src="https://img.shields.io/badge/-Numpy-013243?style=for-the-badge&logo=Numpy&logoColor=white" />
                    <img alt="Vue.js"
                        src="https://img.shields.io/badge/-Vue.js-4FC08D?style=for-the-badge&logo=Vue.js&logoColor=white" />
                    <img alt="JQuery"
                        src="https://img.shields.io/badge/-JQuery-0769AD?style=for-the-badge&logo=JQuery&logoColor=white" />
                    <img alt="GitHub"
                        src="https://img.shields.io/badge/-GitHub-181717?style=for-the-badge&logo=Github&logoColor=white" />
                    <img alt="CSS3"
                        src="https://img.shields.io/badge/-CSS3-1572B6?style=for-the-badge&logo=CSS3&logoColor=white" />
                    <img alt="JavaScript"
                        src="https://img.shields.io/badge/-JavaScript-F7DF1E?style=for-the-badge&logo=JavaScript&logoColor=black" />
                    <img alt="Arduino"
                        src="https://img.shields.io/badge/-Arduino-00979D?style=for-the-badge&logo=Arduino&logoColor=white" />
                    <img alt="Dart"
                        src="https://img.shields.io/badge/-Dart-0175C2?style=for-the-badge&logo=Dart&logoColor=white" />
                    <img alt="Pandas"
                        src="https://img.shields.io/badge/-Pandas-150458?style=for-the-badge&logo=Pandas&logoColor=white" />
                </div>
            </div>
        </div>
    </div>
    <img src="./img/red.png" alt="" class="img-right">
    <img src="./img/curvy.png" alt="" class="img-left">
</section>
<section>
    <div class="container">
        <div class="wrapper" id="timeline">
            <div class="row">
                <img src="./img/timeline.png" alt="" class="timeline">
            </div>
            <div class="row">
                <div class="content">
                    <p class="short-text">Timeline</p>
                    <h2>Here's what to <div class="red">expect</div>
                    </h2>
                    <p class="long-text">
                    <ol>
                        <li>1st May &emsp;&nbsp;&emsp;Keynote Session</li>
                        <li>2nd May &emsp;&ensp;&nbsp;Registrations Open</li>
                        <li>8th May &emsp;&nbsp;&ensp;Community Interaction Starts</li>
                        <li>15th May &emsp;&ensp;Project Building Phase</li>
                        <li>5th July &emsp;&emsp;Distribution of Certificates</li>
                    </ol>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <img src="./img/grid.png" alt="" class="img-left">
    <img src="./img/curb.png" alt="" class="img-right">
</section>
<section id="register">
    <div class="container">
        <div class="wrapper">
            <h1>Register yourself for the event</h1>
            <p class="long-text">
                Before filling up the registration form, you are requested to go through all of the projects listed <a
                    href="/projects" class="yellow">here.</a><br /><br />
                Filter out projects that you are interested in learning the tech stack of, and contributing.
                Checking any project in the form will make you a member of that project's development team. Each project
                team will have 2-3 core team members as project leads who'll be hosting regular discussions and carrying
                out the project
            </p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdmilyBlRBgyMYEf_p_CFQ8thSpn3oI_aPwi73nbpEWapsDWA/viewform?usp=sf_link" class="btn">Take me to the form</a>
        </div>
    </div>
    <img src="./img/red.png" alt="" class="img-right">
    <img src="./img/yellow.png" alt="" class="img-left">
</section>

{{template "footer.html" .}}
