{{template "header.html" .}}

<section class="main-content" id="leaderboard">
  <div class="container">
    <div class="wrapper">
      <h1 class="text-center ksoc-heading">ksoc_leaderboard</h1>
      <h3 class="text-center ksoc-sub-heading">Check your rank here!</h3>
      <p class="text-center ksoc-sub-heading">
        <!-- Last updated on : <i class="ksoc-last-update">Monday</i> -->
      </p>
      <br />
      <br />
      <div class="leaderboard-row">
        <div class="col-sm-4">
          <div class="leaderboard-card leaderboard-card--second">
            <div class="leaderboard-card__top">
              <h3 class="text-center">
                Rank: 2
                <br />
                <span class="points-box"
                  >Points: {{(index .pulls 1).Points}}
                </span>
              </h3>
            </div>
            <div class="leaderboard-card__body">
              <div class="text-center">
                <img
                  src="{{(index .pulls 1).AvatarURL}}"
                  class="circle-img mb-2"
                  alt="User Img"
                />
                <h5 class="mb-0">{{(index .pulls 1).Name}}</h5>
                <p class="text-muted mb-0">KGEC</p>
                <div class="d-flex justify-content-between align-items-center">
                  <a
                    href="https://github.com/{{(index .pulls 1).Login}}"
                    class="github-handles"
                    >{{(index .pulls 1).Login}}</a
                  >
                  <a href="https://github.com/pulls?q=is%3Apr+author%3A{{(index .pulls 1).Login}}+archived%3Afalse+org%3Adsckgec+is%3Amerged" class="modal-btn button">View PRs</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="leaderboard-card leaderboard-card--first">
            <div class="leaderboard-card__top">
              <h3 class="text-center">
                Rank: 1
                <br />
                <span class="points-box"
                  >Points: {{(index .pulls 0).Points}}</span
                >
              </h3>
            </div>
            <div class="leaderboard-card__body">
              <div class="text-center">
                <img
                  src="{{(index .pulls 0).AvatarURL}}"
                  class="circle-img mb-2"
                  alt="User Img"
                />
                <h5 class="mb-0">{{ (index .pulls 0).Name}}</h5>
                <p class="text-muted mb-0">KGEC</p>
                <div class="d-flex justify-content-between align-items-center">
                  <a
                    href="https://github.com/{{(index .pulls 0).Login}}"
                    class="github-handles"
                    >{{(index .pulls 0).Login}}</a
                  >
                  <a href="https://github.com/pulls?q=is%3Apr+author%3A{{(index .pulls 0).Login}}+archived%3Afalse+org%3Adsckgec+is%3Amerged" class="modal-btn button">View PRs</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="leaderboard-card leaderboard-card--third">
            <div class="leaderboard-card__top">
              <h3 class="text-center">
                Rank: 3
                <br />
                <span class="points-box"
                  >Points: {{(index .pulls 2).Points}}</span
                >
              </h3>
            </div>
            <div class="leaderboard-card__body">
              <div class="text-center">
                <img
                  src="{{(index .pulls 2).AvatarURL}}"
                  class="circle-img mb-2"
                  alt="User Img"
                />
                <h5 class="mb-0">{{(index .pulls 2).Name}}</h5>
                <p class="text-muted mb-0">KGEC</p>
                <div class="d-flex justify-content-between align-items-center">
                  <a
                    href="https://github.com/{{(index .pulls 2).Login}}"
                    class="github-handles"
                    >{{(index .pulls 2).Login}}</a
                  >
                  <a href="https://github.com/pulls?q=is%3Apr+author%3A{{(index .pulls 2).Login}}+archived%3Afalse+org%3Adsckgec+is%3Amerged" class="modal-btn button">View PRs</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br /><br />
      <h4 class="table-heading">All Participants</h4>
      <div class="leaderboard-table-container">
        <div class="leaderboard-table-wrapper">
          <table class="table">
            <thead>
              <tr>
                <th>Participant</th>
                <!-- <th>College</th> -->
                <th>Rank</th>
                <th>Points</th>
                <th>Github</th>
                <th>View PRs</th>
              </tr>
            </thead>
            <tbody>
              {{range $i,$j := .pulls}}
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <img
                      src="{{$j.AvatarURL}}"
                      class="circle-img circle-img--small mr-2"
                      alt="User Img"
                    />
                    <div class="user-info__basic">
                      <h5 class="mb-0">{{$j.Name}}</h5>
                    </div>
                  </div>
                </td>
                <!-- <td>KGEC</td> -->
                <td>
                  <div class="d-flex align-items-baseline">
                    <!-- <h4 class="mr-1">253</h4> -->
                    <div class="mr-1 participant-rank">
                      {{len (printf "a%*s" $i "")}}
                    </div>
                  </div>
                </td>
                <td>{{$j.Points}}</td>
                <td><a href="https://github.com/{{$j.Login}}" class="github-handles">{{$j.Login}}</a></td>
                <td>
                  <a href="https://github.com/pulls?q=is%3Apr+author%3A{{$j.Login}}+archived%3Afalse+org%3Adsckgec+is%3Amerged" class="modal-btn button">View PRs</a>
                </td>
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="my-modal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close">&times;</span>
        <h2>Name : Random person</h2>
        <h3>Total Points : 120</h3>
        <h3>Total PR Counts : 5</h3>

        <h3>PR Links :</h3>
      </div>
      <div class="modal-body">
        <div class="modal-list-items">
          <a class="modal-li" href="https://github.com/dsckgec/taskify/pull">
            <p>https://github.com/dsckgec/taskify/pull</p>
            <p>Difficulty: medium</p>
          </a>
          <a class="modal-li" href="https://github.com/dsckgec/taskify/pull">
            <p>https://github.com/dsckgec/taskify/pull</p>
            <p>Difficulty: medium</p>
          </a>
          <a class="modal-li" href="https://github.com/dsckgec/taskify/pull">
            <p>https://github.com/dsckgec/taskify/pull</p>
            <p>Difficulty: medium</p>
          </a>
          <a class="modal-li" href="https://github.com/dsckgec/taskify/pull">
            <p>https://github.com/dsckgec/taskify/pull</p>
            <p>Difficulty: medium</p>
          </a>
          <a class="modal-li" href="https://github.com/dsckgec/taskify/pull">
            <p>https://github.com/dsckgec/taskify/pull</p>
            <p>Difficulty: medium</p>
          </a>
          <a class="modal-li" href="https://github.com/dsckgec/taskify/pull">
            <p>https://github.com/dsckgec/taskify/pull</p>
            <p>Difficulty: medium</p>
          </a>
          <a class="modal-li" href="https://github.com/dsckgec/taskify/pull">
            <p>https://github.com/dsckgec/taskify/pull</p>
            <p>Difficulty: medium</p>
          </a>
          <a class="modal-li" href="https://github.com/dsckgec/taskify/pull">
            <p>https://github.com/dsckgec/taskify/pull</p>
            <p>Difficulty: medium</p>
          </a>
          <a class="modal-li" href="https://github.com/dsckgec/taskify/pull">
            <p>https://github.com/dsckgec/taskify/pull</p>
            <p>Difficulty: medium</p>
          </a>
          <a class="modal-li" href="https://github.com/dsckgec/taskify/pull">
            <p>https://github.com/dsckgec/taskify/pull</p>
            <p>Difficulty: medium</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

{{template "footer.html" .}}
