<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>KSOC | Leaderboard</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/leaderboard.css">
</head>
<body>
	<section class="main-content">
		<div class="container">
			<h1 class="text-center ksoc-heading">KSOC LEADERBOARD</h1>
			<h3 class="text-center ksoc-sub-heading"> Check your rank here!</h3>
			<p class="text-center ksoc-sub-heading">Last updated on : <i class="ksoc-last-update">Monday</i></p>
			<br>
			<br>

			<div class="row">
				<div class="col-sm-4">
					<div class="leaderboard-card leaderboard-card--second">
						<div class="leaderboard-card__top">
							<h3 class="text-center">
								Rank: 2
								<br>
								<span class="points-box">Points:23</span>
							</h3>
						</div>
						<div class="leaderboard-card__body">
							<div class="text-center">
								<img src="img/user2.jpg" class="circle-img mb-2" alt="User Img">
								<h5 class="mb-0">Sandeep Sandy</h5>
								<p class="text-muted mb-0">KGEC</p>
								<hr>
								<div class="d-flex justify-content-between align-items-center">
									<span class="github-handles">sandeep</span>
									<button class="btn view-all-pr btn-sm">View all PRs</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="leaderboard-card leaderboard-card--first">
						<div class="leaderboard-card__top">
							<h3 class="text-center">
								Rank: 1
								<br>
								<span class="points-box">Points:37</span>
							</h3>
						</div>
						<div class="leaderboard-card__body">
							<div class="text-center">
								<img src="img/user1.jpg" class="circle-img mb-2" alt="User Img">
								<h5 class="mb-0">Kiran Acharya</h5>
								<p class="text-muted mb-0">KGEC</p>
								<hr>
								<div class="d-flex justify-content-between align-items-center">
									<span class="github-handles">kiran09</span>
									<button class="btn view-all-pr btn-sm">View all PRs</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="leaderboard-card leaderboard-card--third">
						<div class="leaderboard-card__top">
							<h3 class="text-center">
								Rank: 3
								<br>
								<span class="points-box">Points:15</span>
							</h3>
						</div>
						<div class="leaderboard-card__body">
							<div class="text-center">
								<img src="img/user3.jpg" class="circle-img mb-2" alt="User Img">
								<h5 class="mb-0">John doe</h5>
								<p class="text-muted mb-0">KGEC</p>
								<hr>
								<div class="d-flex justify-content-between align-items-center">
									<span class="github-handles">john</span>
									<button class="btn view-all-pr btn-sm">View all PRs</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br><br>

			<h4 class="table-heading">All Participants</h4>

			<table class="table">
				<thead>
					<tr>
						<th>Participant</th>
						<th>Rank</th>
						<th>Points</th>
						<th>Github</th>
						<th>View all PRs</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<div class="d-flex align-items-center">
								<img src="img/user1.jpg" class="circle-img circle-img--small mr-2" alt="User Img">
								<div class="user-info__basic">
									<h5 class="mb-0">Kiran Acharya</h5>
									<p class="text-muted mb-0">KGEC</p>
								</div>
							</div>
						</td>
						<td>
							<div class="d-flex align-items-baseline">
								<!-- <h4 class="mr-1">253</h4> -->
								<div class="mr-1 participant-rank">253</div>
							</div>
						</td>
						<td>78</td>
						<td><span class="github-handles">kiran09</span></td>
						<td>
							<button class="btn view-all-pr btn-sm">View all PRs</button>
						</td>
					</tr>
					
				</tbody>
			</table>
		</div>
	</section>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
	<script src="/js/leaderboard.js"></script>
</body>
</html>