{{template "header.html" .}}

<section>
    <div class="container heading" style="width: 100%;">
        <h1 class="red">Projects</h1>
    </div>
    <div class="container projects">
        <img src="./img/red.png" alt="" class="img-left">
        <img src="./img/yellow.png" alt="" class="img-right">
        <div class="card">
            <h4>Passman</h4>
            <p class="long-text">
                An open source password manager for enhanced security and flexibility.
            </p>
            <div class="tags">
                <div class="tag">Flutter</div>
                <div class="tag">Dart</div>
                <div class="tag">Firebase</div>
            </div>
            <a href="https://github.com/DSCKGEC/Passman" class="btn default-btn">View on GitHub</a>
        </div>
        <div class="card">
            <h4>Resumie</h4>
            <p class="long-text">
                An android application made in Java to create resumes on the go!
            </p>
            <div class="tags">
                <div class="tag">Java</div>
                <div class="tag">XML</div>
                <div class="tag">Android Studio</div>
            </div>
            <a href="https://github.com/DSCKGEC/Resumie" class="btn default-btn">View on GitHub</a>
        </div>
        <div class="card">
            <h4>AndroLearn</h4>
            <p class="long-text">
                App that provides Native Android documentation app built in Native Android itself!
            </p>
            <div class="tags">
                <div class="tag">Kotlin</div>
                <div class="tag">Firebase</div>
                <div class="tag">XML</div>
            </div>
            <a href="https://github.com/DSCKGEC/AndroLearn" class="btn default-btn">View on GitHub</a>
        </div>
        <div class="card">
            <h4>Cleanurge App</h4>
            <p class="long-text">
                The mobile application for the Cleanurge project - a scalable IoT powered waste management system.
            </p>
            <div class="tags">
                <div class="tag">Android Studio</div>
                <div class="tag">Java</div>
                <div class="tag">Rest APIs</div>
                <div class="tag">Firebase</div>
                <div class="tag">Retrofit</div>
            </div>
            <a href="https://github.com/DSCKGEC/cleanurge-app" class="btn default-btn">View on GitHub</a>
        </div>
        <div class="card">
            <h4>Cleanurge MCU</h4>
            <p class="long-text">
                The IoT application for the Cleanurge project - a scalable IoT powered waste management system.
            </p>
            <div class="tags">
                <div class="tag">C/ C++</div>
                <div class="tag">Arduino</div>
                <div class="tag">Microcontrollers</div>
            </div>
            <a href="https://github.com/DSCKGEC/cleanurge-mcu" class="btn default-btn">View on GitHub</a>
        </div>
        <div class="card">
            <h4>Cleanurge-backend</h4>
            <p class="long-text">
                The web application for the Cleanurge project - a scalable IoT powered waste management system.
            </p>
            <div class="tags">
                <div class="tag">NodeJS</div>
                <div class="tag">Express</div>
                <div class="tag">MongoDB</div>
            </div>
            <a href="https://github.com/DSCKGEC/cleanurge-backend" class="btn default-btn">View on GitHub</a>
        </div>
        <div class="card">
            <h4>Heart Saver</h4>
            <p class="long-text">
                Predictive Modelling of dataset of patients to predict the chances of heart attack.
            </p>
            <div class="tags">
                <div class="tag">Python</div>
                <div class="tag">Flask</div>
                <div class="tag">HTML CSS</div>
            </div>
            <a href="https://github.com/dsckgec/heart-saver" class="btn default-btn">View on GitHub</a>
        </div>
        <div class="card">
            <h4>Space Missions</h4>
            <p class="long-text">
                Exploratory Data Analysis and Data Visualisation of all space missions from 1957's dataset.
            </p>
            <div class="tags">
                <div class="tag">Jupyter</div>
                <div class="tag">Seaborn</div>
                <div class="tag">Pandas</div>
                <div class="tag">Scikit-Learn</div>
            </div>
            <a href="https://github.com/dsckgec/space-missions" class="btn default-btn">View on GitHub</a>
        </div>
        <div class="card">
            <h4>Multipurpose Chatbot</h4>
            <p class="long-text">
                Pre-Trained chatbot that solves the problem of customer interaction for business.
            </p>
            <div class="tags">
                <div class="tag">Python</div>
                <div class="tag">NLP</div>
                <div class="tag">Flask</div>                
                <div class="tag">Tensorflow</div>
            </div>
            <a href="https://github.com/DSCKGEC/Multipurpose-chatbot" class="btn default-btn">View on GitHub</a>
        </div>
        <div class="card">
            <h4>CV into Reality</h4>
            <p class="long-text">
                A computer vision project that can solve real life problems.
            </p>
            <div class="tags">
                <div class="tag">Python</div>
                <div class="tag">Open-CV</div>
                <div class="tag">Numpy</div>
            </div>
            <a href="https://github.com/DSCKGEC/Computer-Vision-Into-Reality" class="btn default-btn">View on GitHub</a>
        </div>
        <div class="card">
            <h4>Hello ML</h4>
            <p class="long-text">
                Introductory project of iris dataset exploration.
            </p>
            <div class="tags">
                <div class="tag">Python</div>
                <div class="tag">Scikit-Learn</div>
                <div class="tag">Visualization</div>
            </div>
            <a href="https://github.com/DSCKGEC/Hello-ML" class="btn default-btn">View on GitHub</a>
        </div>
        <div class="card">
            <h4>Libraryly</h4>
            <p class="long-text">
                A virtual platform for managing the functions of a library.
            </p>
            <div class="tags">
                <div class="tag">NodeJS</div>
                <div class="tag">Express</div>
                <div class="tag">MongoDB</div>
                <div class="tag">HTML CSS</div>
            </div>
            <a href="https://github.com/DSCKGEC/Libraryly" class="btn default-btn">View on GitHub</a>
        </div>
        <div class="card">
            <h4>SAC KGEC</h4>
            <p class="long-text">
                The revamped website for the SAC KGEC.
            </p>
            <div class="tags">
                <div class="tag">HTML CSS</div>
                <div class="tag">Animations</div>
                <div class="tag">Golang</div>
            </div>
            <a href="https://github.com/DSCKGEC/sac-kgec-web" class="btn default-btn">View on GitHub</a>
        </div>
        <div class="card">
            <h4>DSC KGEC Website</h4>
            <p class="long-text">
                The official website of our club - DSC KGEC!
            </p>
            <div class="tags">
                <div class="tag">React</div>
                <div class="tag">Typescript</div>
                <div class="tag">SCSS</div>
            </div>
            <a href="https://github.com/DSCKGEC/DSCK-Website" class="btn default-btn">View on GitHub</a>
        </div>
        <div class="card">
            <h4>KSoC Website</h4>
            <p class="long-text">
                The website for the event is also up for contributions!
            </p>
            <div class="tags">
                <div class="tag">HTML CSS</div>
                <div class="tag">Golang</div>
                <div class="tag">Github API</div>
            </div>
            <a href="https://github.com/DSCKGEC/kgec-summer-of-code" class="btn default-btn">View on GitHub</a>
        </div>
    </div>
</section>

{{template "footer.html" .}}
