{{template "header.html" .}}

<section>
  <div class="container heading" style="width: 100%">
    <h1 class="red h1-28">{ projects }</h1>
  </div>
  <div class="container projects">
    <img src="./img/red.png" alt="" class="img-left" />
    <img src="./img/yellow.png" alt="" class="img-right" />
    {{range $i,$j := .repos}}
    <div class="card">
      <h4>{{$j.Name}}</h4>
      <p class="long-text">{{$j.Description}}</p>
      <div class="tags">
        {{range $k,$l := $j.Tags}}
        <div class="tag">{{$l}}</div>
        {{end}}
      </div>
      <a href="{{$j.URL}}" class="btn default-btn"
        ><i class="fa-brands fa-github"></i>View on GitHub</a
      >
    </div>
    {{end}}
  </div>
</section>

{{template "footer.html" .}}
