{{template "header.html" .}}
<div class="spacer"></div>

<section id="about">
    <div class="container flex-r cards">
        <div class="span-1-of-4">
            <div class="card">
                <div class="icon flex-r green">
                    <i data-feather="smartphone"></i>
                </div>
                <h3>App Development</h3>
                <p>
                    Oh hey, I wasn't listening I was watching serial
                    Blinded by the sunshine strip You, you were in the
                    kitchen Oh your mind was marked and wounded with the
                    wounders whip
                </p>
                <div class="cta-text">Learn More</div>
            </div>
        </div>
        <div class="span-1-of-4">
            <div class="card">
                <div class="icon flex-r red">
                    <i data-feather="globe"></i>
                </div>
                <h3>Web Development</h3>
                <p>
                    Oh hey, I wasn't listening I was watching serial
                    Blinded by the sunshine strip You, you were in the
                    kitchen Oh your mind was marked and wounded with the
                    wounders whip
                </p>
                <div class="cta-text">Learn More</div>
            </div>
        </div>
        <div class="span-1-of-4">
            <div class="card">
                <div class="icon flex-r blue">
                    <i data-feather="activity"></i>
                </div>
                <h3>Machine Learning</h3>
                <p>
                    Oh hey, I wasn't listening I was watching serial
                    Blinded by the sunshine strip You, you were in the
                    kitchen Oh your mind was marked and wounded with the
                    wounders whip
                </p>
                <div class="cta-text">Learn More</div>
            </div>
        </div>
    </div>
    <div class="container flex-r cards">
        <div class="span-1-of-4">
            <div class="card">
                <div class="icon flex-r blue">
                    <i data-feather="cpu"></i>
                </div>
                <h3>IoT & Electronics</h3>
                <p>
                    Oh hey, I wasn't listening I was watching serial
                    Blinded by the sunshine strip You, you were in the
                    kitchen Oh your mind was marked and wounded with the
                    wounders whip
                </p>
                <div class="cta-text">Learn More</div>
            </div>
        </div>
        <div class="span-1-of-4">
            <div class="card">
                <div class="icon flex-r yellow">
                    <i data-feather="bar-chart"></i>
                </div>
                <h3>DSA</h3>
                <p>
                    Oh hey, I wasn't listening I was watching serial
                    Blinded by the sunshine strip You, you were in the
                    kitchen Oh your mind was marked and wounded with the
                    wounders whip
                </p>
                <div class="cta-text">Learn More</div>
            </div>
        </div>
        <div class="span-1-of-4">
            <div class="card">
                <div class="icon flex-r green">
                    <i data-feather="users"></i>
                </div>
                <h3>ChatBot Dev</h3>
                <p>
                    Oh hey, I wasn't listening I was watching serial
                    Blinded by the sunshine strip You, you were in the
                    kitchen Oh your mind was marked and wounded with the
                    wounders whip
                </p>
                <div class="cta-text">Learn More</div>
            </div>
        </div>
    </div>
</section>

<div class="spacer"></div>

{{template "footer.html" .}}