@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,800");

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --main-bg-color: #000f1d;
  --main-wrapper-color: rgb(7, 20, 26);
  --main-text-color: #ffffff;
  --shadow-color: #ebecee;
  --para-color: #c4c4c4;
  --cta-color: #fbbc05;
  --border-color: rgba(45, 45, 45, 0.1);
  --google-red: #ea4335;
  --google-red-bg: rgba(234, 67, 53, 0.1);
  --google-blue: #4285f4;
  --google-blue-bg: rgba(66, 133, 244, 0.1);
  --google-yellow: #fbbc05;
  --google-yellow-bg: rgba(251, 188, 5, 0.1);
  --google-green: #34a853;
  --google-green-bg: rgba(52, 168, 83, 0.1);

  --neon-blue: #00b0e0;
  --neon-blue-dark: rgba(0, 159, 238, 0.15);
  --neon-green: #00e4e4;
  --neon-green-dark: rgba(0, 255, 255, 0.15);

  --neon-blue-transparent: rgba(34, 89, 117, 0.25);
  --clr-light-transparent: rgba(255, 255, 255, 0.05);

  --blue-deep-dark: #182f57;
  --blue-mid: #305fb0;
  --blue-light: #007ba9;
  --pale-blue: #669fff;

  --spacing-m: 40px;
  --spacing-l: 60px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--neon-green-dark);
}

::-webkit-scrollbar-thumb {
  background-color: var(--neon-green);
  border-radius: 6px;
}

li {
  list-style: none;
  font-size: 120%;
  line-height: 1.5;
}

ol li {
  margin-top: 10px;
}

button {
  border: none;
  outline: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  width: 100%;
  font-size: 16px;
  line-height: 1.2;
  font-family: monospace !important;
  color: var(--shadow-color);
  background-color: var(--main-wrapper-color);
  position: relative;
}

.container {
  max-width: 1080px;
  margin: auto;
}

.logo img {
  height: 3rem;
}

.btn {
  width: max-content;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 3px;
  background-color: var(--neon-blue-dark);
  color: var(--neon-blue);
  transition: background-color 200ms ease-in-out;
  cursor: pointer;
  backdrop-filter: blur(5px);
}

.btn:hover {
  background-color: rgba(0, 159, 238, 0.1);
}

.btn::before {
  content: "<";
}

.btn::after {
  content: "/>";
}

/* a.btn-cta {
  color: var(--neon-green);
  background-color: var(--neon-green-dark);
}

a.btn-cta:hover {
  background-color: rgba(0, 255, 255, 0.25);
} */

a.btn-cta.small {
  display: none;
}
a.btn-cta.big {
  display: inline-block;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .ksoc-logo, */
.ksoc-title {
  padding: 48px;
  margin-top: 48px;
}

#landing .wrapper {
  flex-direction: column;
}

header {
  width: 100%;
  position: absolute;
  z-index: 999;
}

header .container {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  margin-top: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  padding: 60px 0px;
  width: 100%;
  position: relative;
  min-height: 650px;
  overflow: hidden;
}

.front {
  padding: 100px 0px 60px 0px;
  display: flex;
  align-items: flex-end;
}

#landing {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#register .wrapper {
  flex-direction: column;
  text-align: center;
}

#register .container {
  position: relative;
  z-index: 1;
}

h1 {
  font-size: 325%;
}

h2 {
  font-size: 270%;
}

p,
li {
  color: var(--para-color);
}

.long-text,
.short-text {
  font-size: 120%;
  max-width: 800px;
  line-height: 1.5;
  margin: 1.5rem auto;
}

.short-text {
  margin: 1.5rem 0;
  text-transform: uppercase;
}

.span-red {
  color: var(--google-red);
}

.wrapper .btn {
  margin: 1.5rem auto;
}

.yellow {
  color: var(--blue-light);
}

.red {
  color: var(--blue-light);
}

.green {
  color: var(--blue-light);
}

span,
.blue {
  color: var(--blue-light);
}

.img-left,
.img-right {
  width: 60px;
  position: absolute;
  top: 20%;
  right: -100px;
  z-index: 0;
  display: none;
}

.img-left {
  top: 50%;
  left: -100px;
  z-index: 0;
}

.img-left1 {
  top: 40%;
  left: 5%;
}

.img-left2 {
  top: 8%;
  left: 2%;
}

.img-left3 {
  top: 33%;
  left: 42%;
}

.img-left4 {
  top: 75%;
  left: 60%;
}

.img-right1 {
  right: 7%;
  bottom: 12%;
}

.img-right2 {
  top: 71%;
  left: 25%;
}

.img-right3 {
  top: 10%;
  left: 37%;
}

.img-right4 {
  top: 40%;
  right: 5%;
}

div {
  z-index: 2;
}

.navbar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: max-content;
  height: 100%;
  padding: 12px;
  background-color: var(--clr-light-transparent);
  backdrop-filter: blur(100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.nav-link-item a {
  display: inline-block;
  font-size: 16px;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--neon-blue);
  background-color: var(--neon-blue-transparent);
  /* border-radius: 50%; */
  /* border: 2px solid var(--neon-blue); */
  /* transition: color 200ms ease-in-out, border-color 200ms ease-in-out; */
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-height: 400px;
  flex-direction: column;
}

.img-wrapper {
  max-width: 27.5rem;
  text-align: center;
}

.timeline {
  width: 90%;
}

footer {
  width: 100%;
  padding: 60px 0px;
}

footer .wrapper {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 40px;
  align-items: flex-start;
  gap: 24px;
}

footer h4 {
  font-size: 18px;
  color: var(--main-text-color);
}

.footer-title-wrapper {
  display: flex;
  gap: 12px;
}

.footer-title-wrapper:first-child {
  margin-bottom: 10px;
}

.col .footer-title-wrapper p {
  margin-block: 0;
}

/* .footer-title-wrapper .img-wrapper {
  width: 25px;
  height: 25px;
} */

.footer-title-wrapper .img-wrapper img {
  width: 22px;
  height: 22px;
}

.col {
  width: 30%;
}

.col p {
  margin: 1rem 0;
  font-size: 90%;
}

.col:first-child > p:last-child {
  padding-left: 32px;
}

.links {
  width: 70%;
  display: flex;
}

.links .link {
  width: 33%;
}

.link li {
  font-size: 90%;
  margin-top: 1rem;
}

.card {
  /* background-color: #232323; */
  /* border-radius: 3px; */
  /* max-width: 325px; */
  text-align: left;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.5;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(6px);
  border-radius: 4px;
  /* border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  border-image: linear-gradient(
      to right,
      rgba(128, 128, 128, 0.7),
      var(--main-bg-color)
    )
    1; */
}

#dashboard .card-wrapper {
  /* display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-gap: 24px;
}

.pulls ul {
  /* margin: 1rem 0; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.pulls ul li {
  list-style: square;
  margin-left: 1.5rem;
  color: rgba(255, 255, 255, 0.6);
}

.cta {
  margin-left: 8px;
  font-weight: 600;
  font-size: 90%;
  color: rgba(255, 255, 255, 0.7);
}

.pulls h5 {
  margin: 0 !important;
  margin-left: 8px !important;
}

.issue-card {
  width: 100%;
  text-align: left;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
  line-height: 1.5;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(6px);
  border-radius: 4px;
  /* border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  border-image: linear-gradient(
      to right,
      rgba(128, 128, 128, 0.7),
      var(--main-bg-color)
    )
    1; */
}

.issue-card .cta {
  max-width: max-content;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  background-color: var(--neon-blue-dark);
  color: var(--neon-blue);
  border: none;
  border-radius: 3px;
  transition: background-color 200ms ease;
}

.issue-card ul {
  flex-grow: 1;
}

/* .pulls {
  gap: 16px;
} */

.issue-card .tag {
  width: max-content;
  /* border-radius: 500px;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: white; */
}

.light-text {
  line-height: 1.5;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
}

.issue-card h5 {
  font-size: 100%;
  max-width: calc(100% - 2rem);
}

.live-btn {
  position: absolute;
  top: 1.5rem;
  right: 8px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--google-green);
}

.card h4 {
  color: var(--neon-blue);
  font-size: 1.5rem;
  padding-left: 0.75rem;
  padding-block: 0.25rem;
  border-left: 3px solid var(--neon-blue);
  line-height: 1;
}

.card .long-text {
  font-size: 90%;
}

.tags {
  display: flex;
  margin-bottom: 1.5rem;
  gap: 0.75rem;
  flex-wrap: wrap;
}

.tag {
  font-size: 14px;
  border-radius: 3px;
  padding-inline: 0.75rem;
  color: var(--neon-blue);
  position: relative;
  display: flex;
  align-items: center;
}

.tag::before {
  content: "[";
  position: absolute;
  top: auto;
  left: 0;
}

.tag::after {
  content: "]";
  position: absolute;
  top: auto;
  right: 0;
}

.default-btn {
  font-size: 14px;
  font-weight: 600;
  background-color: var(--neon-blue-dark);
  color: var(--neon-blue);
  border: none;
  transition: background-color 200ms ease;
  padding: 8px 16px;
}

.default-btn::before,
.default-btn::after {
  content: " ";
}

.default-btn i {
  margin-right: 12px;
}

.default-btn:hover {
  background-color: rgba(0, 0, 0, 0.705);
}

.card .default-btn {
  background-color: var(--neon-blue-dark);
  color: var(--neon-blue);
}

.card .default-btn:hover {
  background-color: rgba(0, 159, 238, 0.075);
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  justify-content: center;
  gap: 24px;
}

/* Animation */

#dscLogo path:nth-child(1) {
  stroke-dasharray: 1370.339111328125;
  stroke-dashoffset: 1370.339111328125;
  animation: line-anim 2s ease-out forwards,
    fillYellow 1.5s ease-out forwards 2s, fadeout 1s ease-out forwards;
}
#dscLogo path:nth-child(2) {
  stroke-dasharray: 1370.339111328125;
  stroke-dashoffset: 1370.339111328125;
  animation: line-anim 2s ease forwards, fillGreen 1.5s ease forwards 2s;
}
#dscLogo path:nth-child(3) {
  stroke-dasharray: 1370.339111328125;
  stroke-dashoffset: 1370.339111328125;
  animation: line-anim 2s ease forwards, fillRed 1.5s ease forwards 2s;
}
#dscLogo path:nth-child(4) {
  stroke-dasharray: 1370.339111328125;
  stroke-dashoffset: 1370.339111328125;
  animation: line-anim 2s ease forwards, fillBlue 1.5s ease forwards 2s;
}
@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fillYellow {
  from {
    fill: transparent;
  }
  to {
    fill: #f4b400;
  }
}

@keyframes fillRed {
  from {
    fill: transparent;
  }
  to {
    fill: #db4437;
  }
}
@keyframes fillBlue {
  from {
    fill: transparent;
  }
  to {
    fill: #4285f4;
  }
}
@keyframes fillGreen {
  from {
    fill: transparent;
  }
  to {
    fill: #0f9d58;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media only screen and (max-width: 1160px) {
  .container {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  h1 {
    font-size: 300%;
  }
  h2 {
    font-size: 250%;
  }
}

@media only screen and (max-width: 890px) {
  .navbar {
    top: calc(100% - 74px);
    left: 0;
    right: 0;
    width: 100%;
    height: max-content;
    align-items: center;
  }
  .nav-links {
    flex-direction: row;
  }
  .row,
  .col,
  .links {
    width: 100% !important;
  }
  .col {
    margin-bottom: 24px;
  }
  .wrapper {
    flex-direction: column;
  }
  #timeline .row:nth-child(2) {
    order: -1;
  }
}

@media only screen and (max-width: 750px) {
  .container {
    width: 100%;
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
  .row {
    min-height: 0px;
    padding: 1.5rem 0;
  }
  .card-wrapper {
    grid-template-columns: 1fr 1fr !important;
  }
  .card .long-text {
    font-size: 16px;
  }
}

@media only screen and (max-width: 624px) {
  html,
  body {
    font-size: 16px;
  }
  .ksoc-title svg {
    width: 250px;
  }
  .ksoc-logo,
  .ksoc-title {
    padding: 16px;
  }

  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 24px;
  }
  .h2-28 {
    font-size: 30px;
  }
  .long-text,
  .short-text,
  li {
    font-size: 16px !important;
  }

  .card-wrapper {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
  }

  header .container {
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    padding: 10px 16px !important;
  }

  .logo img {
    height: 3rem;
  }

  a.btn-cta.small {
    display: inline-block;
    /* padding: 0.3rem 1rem; */
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
  }
  a.btn-cta.small .tooltip {
    position: absolute;
    background-color: whitesmoke;
    font-size: small;
    width: max-content;
    padding: 5px 10px;
    right: 0px;
    bottom: -35px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: none;
  }
  a.btn-cta.small:hover,
  a.btn-cta.small:focus .tooltip {
    opacity: 1;
  }
  a.btn-cta.big {
    display: none;
  }
  .links {
    flex-direction: column;
    gap: 20px;
  }
  .links .link {
    width: 100%;
  }
  footer .link:not(:first-child) h4 {
    margin-top: 24px;
  }
}

@media only screen and (max-width: 448px) {
  .container {
    padding: 24px 16px !important;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 18px;
  }
  .h1-28 {
    font-size: 30px;
  }
  .btn {
    font-size: 14px;
  }
  /* .navbar {
    padding: 0.75rem 1rem;
  }
  .nav-links {
    gap: 16px;
  }
  .nav-link-item a {
    width: 40px;
    height: 40px;
    font-size: 12px;
  } */
  .long-text,
  .short-text,
  li {
    font-size: 14px !important;
  }
  .card,
  .issue-card {
    padding: 24px 16px;
  }
  .pulls {
    padding-inline: 8px;
  }
  .card h4 {
    font-size: 22px;
  }
}

/* @media only screen and (max-width: 400px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 16px;
  }
} */

@media only screen and (max-width: 350px) {
  .container {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}
