@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,800");

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --main-bg-color: #121212;
  --main-wrapper-color: #101c34;
  --main-text-color: #ffffff;
  --shadow-color: #ebecee;
  --para-color: #c4c4c4;
  --cta-color: #fbbc05;
  --border-color: rgba(45, 45, 45, 0.1);
  --google-red: #ea4335;
  --google-red-bg: rgba(234, 67, 53, 0.1);
  --google-blue: #4285f4;
  --google-blue-bg: rgba(66, 133, 244, 0.1);
  --google-yellow: #fbbc05;
  --google-yellow-bg: rgba(251, 188, 5, 0.1);
  --google-green: #34a853;
  --google-green-bg: rgba(52, 168, 83, 0.1);
  --spacing-m: 40px;
  --spacing-l: 60px;
}

li {
  list-style: none;
  font-size: 120%;
  line-height: 1.5;
}

ol li {
  margin-top: 10px;
}

button {
  border: none;
  outline: none;
  background: none;
}

a,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

html,
body {
  width: 100%;
  font-size: 18px;
  line-height: 1.2;
  font-family: monospace;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  position: relative;
}

.container {
  max-width: 1080px;
  margin: auto;
}

.logo img {
  height: 4rem;
}

.btn {
  width: max-content;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  color: var(--main-bg-color);
  border-radius: 3px;
  background-color: var(--google-yellow);
  border: 3px solid var(--google-yellow);
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
  cursor: pointer;
}

.btn::before {
  content: "<";
}

.btn::after {
  content: "/>";
}

a.btn-cta {
  color: var(--main-bg-color) !important;
}

a.btn-cta:hover {
  background-color: #fbd46f;
  border-color: #fbd46f;
}

a.btn-cta.small {
  display: none;
}
a.btn-cta.big {
  display: inline-block;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#landing .wrapper {
  flex-direction: column;
}

header {
  width: 100%;
  position: absolute;
  z-index: 999;
}

header .container {
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  margin-top: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  padding: 60px 0px;
  width: 100%;
  position: relative;
  min-height: 650px;
  overflow: hidden;
}

.front {
  padding: 100px 0px 60px 0px;
  display: flex;
  align-items: flex-end;
}

#landing {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#register .wrapper {
  flex-direction: column;
  text-align: center;
}

#register .container {
  position: relative;
  z-index: 1;
}

h1 {
  font-size: 350%;
}

h2 {
  font-size: 300%;
}

p,
li {
  color: var(--para-color);
}

.long-text,
.short-text {
  font-size: 120%;
  max-width: 800px;
  line-height: 1.5;
  margin: 1.5rem auto;
}

.short-text {
  margin: 1.5rem 0;
  text-transform: uppercase;
}

.wrapper .btn {
  margin: 1.5rem auto;
}

.yellow {
  color: var(--google-yellow);
}

.red {
  color: var(--google-red);
}

.green {
  color: var(--google-green);
}

span,
.blue {
  color: var(--google-blue);
}

.img-left,
.img-right {
  width: 200px;
  position: absolute;
  top: 20%;
  right: -100px;
  z-index: 0;
}

.img-left {
  top: 50%;
  left: -100px;
  z-index: 0;
}

div {
  z-index: 2;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-height: 400px;
  flex-direction: column;
}

.img-wrapper {
  max-width: 27.5rem;
  text-align: center;
}

.timeline {
  width: 90%;
}

footer {
  width: 100%;
  padding: 60px 0px;
}

footer .wrapper {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 40px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.col {
  width: 30%;
}

.col p {
  margin: 1rem 0;
  font-size: 90%;
}

.links {
  width: 70%;
  display: flex;
}

.links .link {
  width: 33%;
}

.link li {
  font-size: 90%;
  margin-top: 1rem;
}

.card {
  /* background-color: #232323; */
  /* border-radius: 3px; */
  max-width: 325px;
  text-align: left;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.5;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  border-image: linear-gradient(
      to right,
      rgba(128, 128, 128, 0.7),
      var(--main-bg-color)
    )
    1;
}

#dashboard .card-wrapper {
  /* display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
}

.pulls ul {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.pulls ul li {
  list-style: square;
  margin-left: 1.5rem;
  color: rgba(255, 255, 255, 0.6);
}

.cta {
  margin-left: 0.5rem;
  font-weight: 600;
  font-size: 90%;
  color: rgba(255, 255, 255, 0.7);
}

.pulls h5 {
  margin: 0 !important;
}

.issue-card {
  margin: 0.4rem;
  padding: 1.5rem 1rem;
  max-width: 325px;
  width: 100%;
  float: left;
  background-color: #2d2d2d;
  font-size: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.issue-card ul {
  flex-grow: 1;
}

.pulls {
  max-width: 500px;
}

.issue-card .tag {
  width: max-content;
  border-radius: 500px;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.light-text {
  line-height: 1.5;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
}

.issue-card h5 {
  font-size: 100%;
  max-width: calc(100% - 2rem);
}

.live-btn {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--google-green);
}

.card h4 {
  color: var(--cta-color);
  font-size: 1.5rem;
  padding-left: 1.5rem;
  padding-block: 0.25rem;
  border-left: 3px solid var(--cta-color);
  line-height: 1;
}

.card .long-text {
  font-size: 90%;
}

.tags {
  display: flex;
  margin-bottom: 1.5rem;
  gap: 0.75rem;
  flex-wrap: wrap;
}

.tag {
  font-size: 14px;
  border-radius: 3px;
  padding-inline: 0.75rem;
  color: cyan;
  position: relative;
  display: flex;
  align-items: center;
}

.tag::before {
  content: "[";
  position: absolute;
  top: auto;
  left: 0;
}

.tag::after {
  content: "]";
  position: absolute;
  top: auto;
  right: 0;
}

.default-btn {
  font-size: 14px;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: white;
  transition: background-color 200ms ease;
  padding: 8px 16px;
}

.default-btn::before,
.default-btn::after {
  content: " ";
}

.default-btn i {
  margin-right: 12px;
}

.default-btn:hover {
  background-color: rgba(0, 0, 0, 0.705);
}

.projects {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1160px) {
  .container {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  h1 {
    font-size: 300%;
  }
  h2 {
    font-size: 250%;
  }
}

@media only screen and (max-width: 890px) {
  .row,
  .col,
  .links {
    width: 100% !important;
  }
  .col {
    margin-bottom: 40px;
  }
  .wrapper {
    flex-direction: column;
  }
  #timeline .row:nth-child(2) {
    order: -1;
  }
}

@media only screen and (max-width: 750px) {
  .row {
    min-height: 0px;
    padding: 1.5rem 0;
  }
  .card-wrapper {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media only screen and (max-width: 590px) {
  h1 {
    font-size: 200%;
  }
  h2 {
    font-size: 150%;
  }
  .long-text,
  .short-text,
  li {
    font-size: 18px !important;
  }

  .card-wrapper {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
  }

  header .container {
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    padding: 10px;
  }

  .logo img {
    height: 3rem;
  }

  a.btn-cta.small {
    display: inline-block;
    padding: 0.3rem 1rem;
    position: relative;
  }
  a.btn-cta.small .tooltip {
    position: absolute;
    background-color: whitesmoke;
    font-size: small;
    width: max-content;
    padding: 5px 10px;
    right: 0px;
    bottom: -35px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  a.btn-cta.small:hover,
  a.btn-cta.small:focus .tooltip {
    opacity: 1;
  }
  a.btn-cta.big {
    display: none;
  }
  .links {
    flex-direction: column;
    gap: 20px;
  }
  .links .link {
    width: 100%;
  }
}
