@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,800");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #2e2e2e;
  --main-wrapper-color: #101c34;
  --main-text-color: #ffffff;
  --shadow-color: #ebecee;
  --cta-color: #fbbc05;
  --border-color: rgba(45, 45, 45, 0.1);
  --google-red: #ea4335;
  --google-red-bg: rgba(234, 67, 53, 0.1);
  --google-blue: #4285f4;
  --google-blue-bg: rgba(66, 133, 244, 0.1);
  --google-yellow: #fbbc05;
  --google-yellow-bg: rgba(251, 188, 5, 0.1);
  --google-green: #34a853;
  --google-green-bg: rgba(52, 168, 83, 0.1);
  --spacing-m: 40px;
  --spacing-l: 60px;
}

li {
  list-style: none;
  font-size: 120%;
  line-height: 1.5;
}

ol li {
  margin-top: 10px;
}

button {
  border: none;
  outline: none;
  background: none;
}

a,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 18px;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  position: relative;
}

.container {
  max-width: 1080px;
  margin: auto;
}

.logo img {
  height: 4rem;
}

.btn {
  width: max-content;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  color: var(--main-bg-color);
  border-radius: 3px;
  background-color: var(--google-yellow);
  border: 3px solid var(--google-yellow);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#landing .wrapper {
  flex-direction: column;
}

header {
  width: 100%;
  position: absolute;
  z-index: 999;
}

header .container {
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section {
  padding: 60px 0px;
  width: 100%;
  position: relative;
  min-height: 620px;
  overflow: hidden;
}

#landing {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  top: 0;
  left: 0;
  min-height: 620px;
  width: 100%;
  -webkit-mask-image: radial-gradient(
    white 0%,
    white 30%,
    transparent 80%,
    transparent
  );
  mask-image: radial-gradient(
    white 0%,
    white 30%,
    transparent 80%,
    transparent
  );
  overflow: hidden;
}

h1 {
  font-size: 350%;
}

h2 {
  font-size: 300%;
}

.long-text, .short-text {
  font-size: 120%;
  max-width: 800px;
  line-height: 1.5;
  margin: 1.5rem auto;
}

.short-text {
  margin: 1.5rem 0;
  text-transform: uppercase;
}

.wrapper .btn {
  margin: 1.5rem auto;
}

span, .yellow {
  color: var(--google-green);
}

.red {
  color: var(--google-red);
}

.green {
  color: var(--google-green);
}

.blue {
    color: var(--google-blue);
}

.img-left, .img-right {
  width: 200px;
  position: absolute;
  top: 20%;
  right: -100px;
  z-index: -1;
}

.img-left {
  top: 50%;
  left: -100px;
  z-index: -1;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-height: 400px;
  flex-direction: column;
}

.img-wrapper {
  max-width: 27.5rem;
  text-align: center;
}

.timeline {
  width: 90%;
}

footer {
  width: 100%;
  padding: 60px 0px;
}

footer .wrapper {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 40px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.col {
  width: 30%;
}

.col p {
  margin: 1rem 0;
  font-size: 90%;
}

.links {
  width: 70%;
  display: flex;
}

.links .link {
  width: 33%;
}

.link li {
  font-size: 90%;
  margin-top: 1rem;
}

@media only screen and (max-width: 1160px) {
  .container {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  h1 {
    font-size: 300%;
  }
  h2 {
    font-size: 250%;
  }
}

@media only screen and (max-width: 890px) {
  .row, .col, .links {
    width: 100% !important;
  }
  .col {
    margin-bottom: 40px;
  }
  .wrapper {
    flex-direction: column;
  }
  #timeline .row:nth-child(2) {
    order: -1;
  }
}

@media only screen and (max-width: 750px) {
  #landing {
    padding-top: 80px;
  }
  .row {
    min-height: 0px;
    padding: 1.5rem 0;
  }
}

@media only screen and (max-width: 590px) {
  h1 {
    font-size: 200%;
  }
  h2 {
    font-size: 150%;
  }
  .long-text, .short-text, li {
    font-size: 18px !important;
  }
}